affine>=2.3.0
Fiona>=1.8.6
geopandas>=0.5.1
numpy>=1.17.2
pandas>=0.25.1
rasterio>=1.0.28
Shapely>=1.6.4
matplotlib
tqdm>=4.32.2
notebook
requests
boto3
flake8-import-order
flake8-blind-except
flake8-builtins
setuptools
setuptools_scm
wheel
pytest