name: Tag version

on:
  push:
    branches:
      - main

jobs:
  call-bump-version-workflow:
    uses: ASFHyP3/actions/.github/workflows/reusable-bump-version.yml@v0.17.1
    with:
      user: access-cloud-insar-team
      email: access-cloud-insar-team@jpl.nasa.gov
    secrets:
      USER_TOKEN: ${{ secrets.ACCESS_GITHUB_TOKEN }}
