name: Test and Tag

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9"]
        environment-file: ["environment.yml", "https://raw.githubusercontent.com/ACCESS-Cloud-Based-InSAR/DockerizedTopsApp/dev/environment.yml"]
        exclude:
        - python-version: "3.7"
          environment: "https://raw.githubusercontent.com/ACCESS-Cloud-Based-InSAR/DockerizedTopsApp/dev/environment.yml"

    steps:
      - uses: actions/checkout@v2

      - uses: extractions/netrc@v1
        with:
          machine: urs.earthdata.nasa.gov
          username: ${{ secrets.EARTHDATA_USERNAME }}
          password: ${{ secrets.EARTHDATA_PASSWORD }}

      - uses: conda-incubator/setup-miniconda@v2
        with:
          mamba-version: "*"
          python-version: ${{ matrix.python-version }}
          activate-environment: dem-stitcher
          environment-file: ${{ matrix.environment-file }}

      - name: Pytest in conda environment
        shell: bash -l {0}
        run: |
          python -m pip install .
          pytest . -m 'not integration'
