name: Test and Tag

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev

jobs:
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v2

      - uses: extractions/netrc@v1
        with:
          machine: urs.earthdata.nasa.gov
          username: ${{ secrets.EARTHDATA_USERNAME }}
          password: ${{ secrets.EARTHDATA_PASSWORD }}

      - uses: mamba-org/provision-with-micromamba@main
        with:
          environment-name: dem-stitcher
          environment-file: environment.yml
          extra-specs: |
            python=${{ matrix.python-version }}


      - name: Pytest in conda environment
        shell: bash -l {0}
        run: |
          python -m pip install .
          pytest . -m 'not notebook'
